.flex-container {
    display: flex;
    height: 85%;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bckg2.jpg);
    background-repeat: repeat;
    margin-top: 3%;
    margin-bottom: 2%;
    border-radius: 4px;
}

.flex-container> .wide {
    width: 34%;
    height: 45%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin-bottom: 45px;
    margin-top: 40px;

}

.flex-container > .tall {
    width: 25%;
    height: 90%;
    margin: 30px;
    padding: -10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}

img {
    width: 80%;
    height: 80%;
    -webkit-box-shadow: 0 0 40px 2px #949191;
    box-shadow: 0 0 40px 2px #949191;
}

  .hr1 {
    height: 0.01em;
    background-color:#fff;
    margin-top: 40px;
  }

  .marca{
    margin-left: 40px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2.8px;
    width: 80px;
    height: 24px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: -8px;
}


body{
    background-color: rgb(34, 36, 37);
    }

@font-face {
    font-family: 'helvetica1';
    src: url(../font/Helvetica.ttf); 
}

#bestfont {
    font-family: 'helvetica1';
}

 