hr {
    height: 2px;
    position: absolute;
    top: 10.2%;
    color: rgb(255, 0, 0);
    width: 100%;
 
  }
  .headerff{
        margin: 0;
        width: 100%;
        height: 90px;
        background-color: #080808
  }
  .marca{
    border-style: solid;
    border-color: white;
    border-width: 2.8px;
    width: 80px;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: -8px;
    position: absolute;
    top: 3%;
    left: 2%;
}

body{
    background-color: rgba(255, 255, 255, 0.925);
    margin: 0;
    }

    @font-face {
        font-family: 'helvetica1';
        src: url(../font/Helvetica.ttf); 
    }
    
    #bestfont {
        font-family: 'helvetica1';
    }

    @font-face {
        font-family: 'helvetica2';
        src: url(../font/HelveticaNeue-Bold.otf); 
    }
    
    #bestfont2 {
        font-family: 'helvetica2';
    }



    #tit1{
        font-family: 'helvetica2';
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 1.4em;
        font-weight: 600;
        letter-spacing: 0.02em;
    }

    #par1{
        font-family: 'helvetica1';
        color: rgb(0, 0, 0);
        font-size: 0.9em;
        font-weight: 400;
        letter-spacing: 0.01em;
    }

    #header1{
        font-family: 'helvetica2';
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 2.7em;
        font-weight: 900;
        letter-spacing: 0.02em;
    }


    * {
        box-sizing: border-box;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    /*Selectores de atributo
    Ver https://www.w3schools.com/css/css_attribute_selectors.asp */
    
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    
    
    
    .header {
        background-color: #080808;
        padding: 15px;
        text-align: center;
        height: 250px;
        width: 100%;
    }

    .header > h1{
            position: relative;
            top: 20%;
            vertical-align: middle; 
            text-align: center;
            font-family: 'helvetica2';
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 2.7em;
            font-weight: 900;
            letter-spacing: 0.02em; 
    }
    
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .menu li {
        padding: 8px;
        margin-bottom: 7px;
        background-color: #2e2e2e;
        color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 3%;
    }

    
    
    .menu li:hover {
        background-color: #ffffff;
        color: #080808;
        border-radius: 2%;
    }
    
    .aside {
        background-color: #2e2e2e;
        padding: 15px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family:  'helvetica3';
        font-size: 14px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin-bottom: 120px;
    }
    
    .footer {
        background-color: #080808;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 15px;
        padding: 10px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-family: 'helvetica1';
        font-weight: 600;
    }
    
    .hamburguesa {
        display: none;
        position: absolute;
        top: 18%;
        background-color: #080808 !important;
        color: #fff;
        width: 45px; 
        height: 40px;
    }
    /* For mobile phones: */
    
    [class*="col-"] {
        width: 100%;
    }
    
    @media only screen and (max-width: 600px) {
        .menu {
            display: none
            
        }
        .hamburguesa {
            display: block
        }
    }
    
    @media only screen and (min-width: 600px) {
        /* For tablets: */
        .col-s-1 {
            width: 8.33%;
        }
        .col-s-2 {
            width: 16.66%;
        }
        .col-s-3 {
            width: 25%;
        }
        .col-s-4 {
            width: 33.33%;
        }
        .col-s-5 {
            width: 41.66%;
        }
        .col-s-6 {
            width: 50%;
        }
        .col-s-7 {
            width: 58.33%;
        }
        .col-s-8 {
            width: 66.66%;
        }
        .col-s-9 {
            width: 75%;
        }
        .col-s-10 {
            width: 83.33%;
        }
        .col-s-11 {
            width: 91.66%;
        }
        .col-s-12 {
            width: 100%;
        }
    }
    
    @media only screen and (min-width: 768px) {
        /* For desktop: */
        .col-1 {
            width: 8.33%;
        }
        .col-2 {
            width: 16.66%;
        }
        .col-3 {
            width: 25%;
        }
        .col-4 {
            width: 33.33%;
        }
        .col-5 {
            width: 41.66%;
        }
        .col-6 {
            width: 50%;
        }
        .col-7 {
            width: 58.33%;
        }
        .col-8 {
            width: 66.66%;
        }
        .col-9 {
            width: 75%;
        }
        .col-10 {
            width: 83.33%;
        }
        .col-11 {
            width: 91.66%;
        }
        .col-12 {
            width: 100%;
        }
    }
    

    .col-s-3 > ul {
        font-family: 'helvetica2';
        
    }

    @font-face {
        font-family: 'helvetica3';
        src: url(../font/HelveticaNeue-Medium.otf); 
        
    }

    /* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }