.hr1 {
    height: 1px;
    background-color:#fff;
    margin-top: 40px;
  }

  .marca{
    margin-left: 40px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2.8px;
    width: 80px;
    height: 24px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: -8px;
}
.titulo{
    width: 730px;
    height: 70px;
    font-family: 'Roboto';
    font-style: medium;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    line-height: 1;
    margin-left: 120px;
}
body{
    background-color: rgb(34, 36, 37);
    }


.contenedor {
    width: 900px;
    height: 610px;
    margin: auto;
    font-family: 'Roboto';
    font-size: 15px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1em;
    font-weight: 700;
    line-height: 1;
    background-color: #075E54;
    margin-top: 85px;
    border-radius: 0.4%;
    margin-bottom: 250px;

}

.brand {
  font-family: 'helvetica1';
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  position: relative;
  top: 7%;
  left: 4%;
  margin-top: -30px;
  width: 400px;
}

.card {
  width: 99.8%;
  height: 24.7%;
  background-color: #ffffff;
  border-top: rgba(114, 114, 114, 0.575);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.4%;
}

.img{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 15px;
}

.name{
  font-family: 'helvetica1';
  font-size: 17px;
  font-weight: 700;
  color: rgb(44, 42, 42);
  margin-top: -70px;
  margin-left: 130px;
  letter-spacing: 0.01em;

}

.lastmes{
  font-family: 'helvetica1';
  font-size: 14px;
  font-weight: 700;
  color: rgb(70, 69, 69);
  margin-top: 10px;
  margin-left: 130px;
  letter-spacing: 0.03em;
}

.hour{
  font-family: 'helvetica1';
  font-size: 12px;
  font-weight: 700;
  color: rgba(70, 69, 69, 0.596);
  margin-top: -100px;
  margin-left: 830px;
  letter-spacing: 0.01em;

}

.icon{
  position: relative;
  top: 90%;
  left: 85%;
  background-color:#075E54;
  border-radius: 50%;
  width: 60px;
  height: 60px;

}


@font-face {
    font-family: 'helvetica1';
    src: url(../font/Helvetica.ttf); 
}

#bestfont {
    font-family: 'helvetica1';
}


  .despleg {
    position: absolute;
    top: 25%;
    left: 75%;
    width: 50px;

  }
  
  .despleg-content {
    display: none;
    float: right;
    margin-right: 20px;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5%;
  }
  
  .despleg-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .despleg-content a:hover {
    background-color: rgb(214, 214, 214);
    border-radius: 5%;
    }
  
  .despleg:hover .despleg-content {display: inline;}
  
