hr {
    height: 1px;
    background-color:#fff;
    margin-top: 40px;
    margin-bottom: 80px;
  }

.marca{
    margin-left: 30px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    width: 120px;
    height: 32px;
    font-family:'Roboto';
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: -20;
    }
.titulo{
    width: 730px;
    height: 70px;
    font-family: 'Roboto';
    font-style: medium;
    font-size: 30px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.1em;
    font-weight: 700;
    line-height: 1;
    margin-left: -20px;
    }


.parrafo{
    padding-left: 85px;
    padding-right: 85px;
}


a{
    text-decoration: none;
    color: black;
}


@font-face {
    font-family: 'helvetica1';
    src: url(../font/Helvetica.ttf); 
}

#bestfont {
    font-family: 'helvetica1';
}


.parallax {
    background-image: url("../img/bckg.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .c1{
      height:400px;
      background-color:rgb(88, 87, 87);
      font-size:36px
  }

  body, html {
    height: 100%;
    background-color: rgb(58, 58, 58);
  }